body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #101820;
  color: #ffffff;
}

header {
  background-color: #1f1f2e;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #e30613;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #e30613;
}

main {
  padding: 40px;
  text-align: center;
}

footer {
  background-color: #1f1f2e;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 27px;
}

.about-title{
    font-size: 35px;
}

.about-para{
    font-size: 25px;
}

.play-title{
    font-size: 40px;
}

.about-info {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: justify; /* or use center if you prefer centered text alignment */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}
